*{
    margin: 0px;
    padding: 0px;
    font-family: arial,helvetica,sans-serif,verdana,'Open Sans';
    font-size: 13px;
}

/*a{
    text-decoration: none;
}*/

.header{
    height: 262px;
    width: 100%;
    position: relative;
    background: url('../images/banner.png') no-repeat right top;
    /*background-color: #ccc;*/
}

.menu {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background-color: #2485B1;
    /*background-color: #ccc;*/
}

.menu ul li{
    list-style: none;
    float: left;
}

.menu ul li:hover{
    background-color: #1475A1;
}

.menu ul a li:first-child{
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

.menu ul a li{
    text-decoration: none;
    padding: 17px 30px;
    color:#fff;
}

.container{
    width: 100%;
    /*height: 500px;*/
    /*position: relative;*/
    /*background-color: #ccc;*/
}

.caption h4 a{
    /*color: #000;*/
    /*    text-align: center;*/
    padding: 5px 0px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    /*border-bottom: 1px solid #ccc;*/
}

.caption h4 a:hover{
    text-decoration: underline;
}

.product_title{
    height: 90px;
    /*background-color: #ccc;*/
}

.product_offer{
    height: 55px;
    /*background-color: #777;*/
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    color: #ff884e;
}

.product_offer i{
    font-size: 15px;
}

.price_btn{
    /*background-color: #ccc;*/
}

.price_btn p{
    font-size: 20px;
    font-weight: bold;
}

/*.item_count{
    color: #fff;
    background-color: #ff0000;
    padding: 0px 4px;
    border-radius: 10px;
    display: none;
    font-weight: bold;
}*/




