*{
    margin: 0px;
    padding: 0px;
    font-family: arial,helvetica,sans-serif,verdana,'Open Sans';
    font-size: 13px;
}

.header{
    height: 262px;
    /*width: 100%;*/
    min-width: 1200px;
    width: 1200px;
    position: relative;
    background: url('../images/banner.png') no-repeat right top;
    /*background-color: #ccc;*/
    margin: 0px auto;
}

.menu {
    position: absolute;
    /*    left: 15px;
        right: 15px;*/
    left:0;
    right:0;
    bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    /*background-color: #222;*/
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
}

.menu ul li{
    list-style: none;
    float: left;
}

.menu ul li:hover{
    /*background-color: #555;*/
    background: #555; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#222, #666); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, #666); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, #666); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, #666); /* Standard syntax */
}

.menu_ul > a:first-child li{
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

.menu ul a li{
    text-decoration: none;
    padding: 17px 30px;
    color:#fff;
}

.container{
    /*width: 100%;*/
    /*min-width: 1320px;*/
    min-width: 1200px;
    width: 1200px;
    padding: 0px;
    /*background-color: #ccc;*/
    position: relative;
}

.caption h4 a{
    padding: 5px 0px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.caption h4 a:hover{
    text-decoration: underline;
}

.product_title{
    height: 65px;
}

.product_offer{
    height: 55px;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    color: #ff884e;
}

.product_offer i{
    font-size: 15px;
}

.price_btn{
}

.price_btn p{
    font-size: 20px;
    font-weight: bold;
}

.pagination_wrap{
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto;
}

.pagination li a{
    /*background-color: #222;*/
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
    border: 1px solid #222;
    color: #fff;
}

.pagination li a:hover{
    /*background-color: #3A5F0B;*/
    background: #555; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#222, #666); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, #666); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, #666); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, #666); /* Standard syntax */
    border: 1px solid #555;
    color:#fff;
}

.footerWrap{
    /*min-width: 1320px;*/
    /*max-width: 1320px;*/
    /*margin: 0 15px;*/
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    border-top: 5px solid #555;
    height: 250px;
    padding-top: 30px; 
    /*background-color: #222;*/
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
}

.footerLinkWrap{
    display: table;
}

.footerLink:first-child{
    border-left: 0px;
    width: 350px;
}

.footerLink{
    display: table-cell;
    padding: 20px 0px 0px 20px; 
    height: 200px;
    width: 180px;
    float: left;
    color: #fff;
    border-left: 1px solid #fff; 
}

.footerLink ul{
    list-style: none;
}

.footerLink li{
    height: 25px;
    margin-bottom: 10px;
}

.footerLink a{
    color: #fff;
    text-decoration: none;
}

.footerLink a:hover{
    text-decoration: underline;
}

.footerIcon{
    padding: 9px 35px;
}

.fb{
    background: url(../images/socialMedia/fb.png) left center no-repeat;
}

.tw{
    background: url(../images/socialMedia/tw.png) left center no-repeat;
}

.in{
    background: url(../images/socialMedia/in.png) left center no-repeat;
}

.gp{
    background: url(../images/socialMedia/gp.png) left center no-repeat;
}