*{
    margin: 0px;
    padding: 0px;
    font-family: arial,helvetica,sans-serif,verdana,'Open Sans';
    font-size: 13px;
}


/*Start of Header Section*/
.header{
    height: 262px;
    min-width: 1200px;
    width: 1200px;
    position: relative;
    background: url('../images/banner.png') no-repeat right top;
    margin: 0px auto;
}

.menu {
    position: absolute;
    left:0;
    right:0;
    bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
}

.menu ul li{
    list-style: none;
    float: left;
}

.menu ul li:hover{
    /*background-color: #555;*/
    background: #555; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#222, #666); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, #666); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, #666); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, #666); /* Standard syntax */
}

.menu_ul > a:first-child li{
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

.menu ul a li{
    text-decoration: none;
    padding: 17px 30px;
    color:#fff;
}
/*End of Header Section*/

/*Start of index page body*/
.container{
    /*width: 100%;*/
    /*min-width: 1320px;*/
    min-width: 1200px;
    width: 1200px;
    padding: 0px;
    /*background-color: #ccc;*/
    position: relative;
}

.caption h4 a{
    padding: 5px 0px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.caption h4 a:hover{
    text-decoration: underline;
}

.product_title{
    height: 65px;
}

.product_offer{
    height: 55px;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    color: #ff884e;
}

.product_offer i{
    font-size: 15px;
}


.price_btn p{ /* remove this*/
    font-size: 20px;
    font-weight: bold;
}

/*End of index page body*/

/*Pagination Style User Page*/

.pagination_wrap{
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto;
}

.pagination li a{
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
    border: 1px solid #222;
    color: #fff;
}

.pagination li a:hover{
    /*background-color: #3A5F0B;*/
    background: #555; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#222, #666); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, #666); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, #666); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, #666); /* Standard syntax */
    border: 1px solid #555;
    color:#fff;
}

/*Pagination Style User Page*/


/*Details Page Style*/

.showDetailsWrap{
    /*height: 200px;*/
    /*background-color: #ccc;*/
    display: table;
    width: 1200px;
    min-width: 1200px;
    padding-bottom: 20px;

}

.breadcrumb{
    border-radius: 0px;
    border-bottom: 1px solid #eee;
    /*height: 60px;*/
    padding: 15px 10px;
    background: none;
}

.showDetailsImage{
    display: table-cell;
    float: left;
    width: 350px;
    padding: 5px;
    /*background-color: #555;*/
}

.showDetailsImage img{
    width: 340px;
}

.showDetailsItem{
    display: table-cell;
    float: left;
    width: 830px;
    /*background-color: #888;*/
    margin-left: 20px;
}

.showDetailsBtnWrap{
    display: table;
    /*background-color: #ff884e;*/
}

.showDetailsBtn{
    width: 100px;
    padding: 10px;
    text-align: center;
    color: #666;
    float: left;
    display: table-cell;
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
    border: 1px solid #222;
    border-bottom: none;
    color: #fff;
}

.showDetailsBtnWrap > a:first-child > div {
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

.showDetailsBtnWrap > a:last-child > div{
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

.showDetailsBtn:hover{
    background: #555; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#222, #666); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, #666); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, #666); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, #666); /* Standard syntax */
    border: 1px solid #555;
    border-bottom: none;
}

.item_details{
    /*height: 386px;  update this as per need*/
    border: 1px solid #222;
    display: none;
    padding: 10px;
}

.item_details table{
    width: 100%;
}

.reviewWrap{
    height: 365px; /* update this as per need*/
    overflow-y: auto;
    overflow-x: no-content;
    padding-right: 10px;
}

.reviewBox{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.review{
    background-color: #eee;
    padding: 10px;
}

.reviewBidWrap{
    display: table;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.reviewBidBox{
    
    display: table-cell;
    /*background-color: #ccc;*/
    width: 600px;
    float:left;
    padding: 20px;
    /*height: 200px;*/
}

.reviewBidBox .table{
    width: 100%;
}

.reviewBidBox .table td{
    vertical-align: middle;
}

/*Details Page Style*/


/*Footer Style*/
.footerWrap{
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    border-top: 5px solid #555;
    height: 250px;
    padding-top: 30px; 
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
}

.footerLinkWrap{
    display: table;
}

.footerLink:first-child{
    border-left: 0px;
    width: 350px;
}

.footerLink{
    display: table-cell;
    padding: 20px 0px 0px 20px; 
    height: 200px;
    width: 180px;
    float: left;
    color: #fff;
    border-left: 1px solid #fff; 
}

.footerLink ul{
    list-style: none;
}

.footerLink li{
    height: 25px;
    margin-bottom: 10px;
}

.footerLink a{
    color: #fff;
    text-decoration: none;
}

.footerLink a:hover{
    text-decoration: underline;
}

.footerIcon{
    padding: 9px 35px;
}

.fb{
    background: url(../images/socialMedia/fb.png) left center no-repeat;
}

.tw{
    background: url(../images/socialMedia/tw.png) left center no-repeat;
}

.in{
    background: url(../images/socialMedia/in.png) left center no-repeat;
}

.gp{
    background: url(../images/socialMedia/gp.png) left center no-repeat;
}

/*Footer Style*/