*{
    margin: 0;
    padding: 0;
    font-size: 13px;
    /*font-size: 1vw;*/
    font-family: sans-serif;
}

.page_wrap{
    width: 99%;
    margin: 0 .5% ;
}

.header{
    background-color: #383838;
    display: table;
    width: 100%;

}

.header ul{
    list-style: none;
}


.header ul li{
    float: left;
    display: table-cell;
    padding: 2px 5px;
}

.header ul a{
    color: #fff;

}

.header ul a li:hover{
    text-decoration: underline;

}

.content_wrap{
    display: table;
    width: 100%;
    background-color: #ccc;
}

.content{
    width: 49.5%;
    height: 200px;
    display: table-cell;
    background-color: #aaa;
    margin-left: .5%;
    margin-right: 0%;
    float: left;
}

.content:first-child{
    margin-left: 0%;
    margin-right: .5%;
}